.roomname {
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 3.8rem;
  height: 3.8rem;
  border-radius: 3px;
  flex-shrink: 0;
  text-decoration: none;
  position: relative;
}

/* .roomname--base {
  color: #f00;
}

.roomname--red {
  color: #fff;
}

.roomname--blue {
  color: #fff;
}

.roomname--yellow {
  color: #999;
} */

.roomname--base:link,
.roomname--base:visited {
  color: #f00;
}

.roomname--coomon:link,
.roomname--common:visited {
  color: #eee;
}

.roomname--joined:link,
.roomname--joined:visited {
  color: #eee;
}

.roomname--other:link,
.roomname--other:visited {
  color: #999;
}

.roomname::after {
  content: attr(data-short);
  width: 65%;
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2px;
  border-radius: 50%;
}

.roomname--base::after {
  background: radial-gradient(circle at 100px 100px, #000, #fff);
}

.roomname--common::after {
  background: radial-gradient(circle at 100px 100px, #000, #f00);
}

.roomname--joined::after {
  background: radial-gradient(circle at 100px 100px, #000, #00f);
}

.roomname--other::after {
  background: radial-gradient(circle at 100px 100px, #000, yellow);
}

.new-message::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ddd;
  top: 6px;
  right: 10px;
  position: absolute;
  z-index: 2;
}
