.roomname {
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 3.8rem;
  height: 3.8rem;
  flex-shrink: 0;
  text-decoration: none;
  position: relative;
  outline: none;
  border: 1px solid transparent;
}

.roomname:focus {
  border-color: var(--main-dark-color);
}

.roomname--base:link,
.roomname--base:visited {
  color: var(--main-other-color);
}

.roomname--common:link,
.roomname--common:visited {
  color: var(--main-bright-color);
}

.roomname--joined:link,
.roomname--joined:visited {
  color: var(--main-bright-color);
}

.roomname--other:link,
.roomname--other:visited {
  color: var(--main-dark-color);
}

.roomname::after {
  content: attr(data-short);
  width: 65%;
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2px;
  border-radius: 50%;
}

.roomname--base::after {
  background: radial-gradient(
    circle at 100px 100px,
    var(--main-bg-color),
    var(--rooms-bg-color)
  );
}

.roomname--common::after {
  background: radial-gradient(
    circle at 100px 100px,
    var(--main-bg-color),
    var(--common-bg-color)
  );
}

.roomname--joined::after {
  background: radial-gradient(
    circle at 100px 100px,
    var(--main-bg-color),
    var(--joined-bg-color)
  );
}

.roomname--other::after {
  background: radial-gradient(
    circle at 100px 100px,
    var(--main-bg-color),
    var(--others-bg-color)
  );
}

.new-message::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--main-text-color);
  top: 6px;
  right: 10px;
  position: absolute;
  z-index: 2;
}
