.alert-message {
  text-align: center;
  margin: 5px 0;
  font-size: 0.8rem;
}

.alert-message__text {
  display: inline-block;
  padding: 0 8px;
  background-color: var(--alert-message-bg-color);
  color: var(--alert-message-text-color);
  border-radius: 2px;
}

.message {
  margin: 1rem 0.5rem;
  display: flex;
  font-size: 0.9rem;
}

.message--own {
  justify-content: flex-end;
}

.message__text {
  padding: 10px;
  border-radius: 6px;
  max-width: 15rem;
  min-width: 5rem;
}

.message__text--own {
  background-color: var(--owner-message-bg-color);
  color: var(--owner-message-text-color);
}

.message__text--other {
  background-color: var(--other-message-bg-color);
  color: var(--other-message-text-color);
  position: relative;
}

.message__new::before {
  content: "NEW";
  position: absolute;
  top: -3px;
  left: 3px;
  background-color: #f00;
  color: #fff;
  font-size: 0.5rem;
  font-weight: bold;
  padding: 1px 2px;
  border-radius: 2px;
}

.message__time {
  font-size: 0.6rem;
  margin: 0 8px;
}

.message__sender {
  color: #f00;
}
