.lineroom {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.lineroom__details {
  width: calc(100% - 4rem);
  padding: 0 1rem;
}

/* .lineroom__desc {
} */

.lineroom__owner {
  /* color: brown; */
}

.lineroom__buttons {
  width: 4rem;
  flex-shrink: 0;
}

.lineroom__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  height: 100%;
  transition: transform 0.1s;
}

.lineroom__button:hover {
  transform: scale(1.1);
}
