.messages__container {
  flex-shrink: 1;
  flex-grow: 1;
  padding: 0.5rem 0;
}

.messages__content {
  height: 100%;
}

.messages__followButton {
  background-color: #f00;
  color: #fff;
  font-weight: bold;
  top: 15px;
  height: 18px;
  width: 55px;
  border-radius: 0;
}

.messages__followButton:after {
  content: "bottom";
}

.messages__followButton:hover {
  background-color: #f00;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.messages__scroll-view::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.messages__scroll-view {
  -ms-overflow-style: none;
}
