.nav-rooms__list {
  padding: 0.5rem 0;
  display: flex;
  overflow-x: auto;
  -ms-overflow-style: none;
  height: auto;
  max-height: 10rem;
  transition: max-height 0.8s;
}

.nav-rooms__list.no {
  padding: 0;
  max-height: 0;
}

.nav-rooms__show-button {
  padding: 5px 0;
  text-align: center;
  color: var(--main-other-color);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-rooms__label {
  display: inline-block;
  width: 14rem;
  font-size: 0.8rem;
}

.nav-rooms__list::-webkit-scrollbar {
  display: none;
}

.nav-rooms__icon {
  display: inline-block;
  transition: transform 0.8s;
}

.nav-rooms__icon.show-left {
  transform: rotate(180deg);
}

.nav-rooms__icon.show-right {
  transform: rotate(-180deg);
}

svg {
  width: 1rem;
  fill: currentColor;
}
