.rooms__container {
  max-width: 600px;
  margin: auto;
  padding: 0.5rem;
  color: var(--main-dark-color);
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.rooms__header {
  padding: 1rem 0.5rem;
  margin: 0 0 1rem 0;
  border-bottom: 1px solid var(--main-dark-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rooms__input {
  border: 1px solid transparent;
  outline: none;
  padding: 0.5rem 0.5rem 0.5rem 1.8rem;
  background-color: var(--main-darker-color);
  color: var(--main-bright-color);
  width: 100%;
}

.rooms__input-container {
  width: 60%;
  position: relative;
}

.rooms__input-icon {
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
}

.rooms__input:focus {
  border-color: var(--main-dark-color);
}

.rooms__lists {
  -ms-overflow-style: none;
  overflow-y: auto;
  overflow-x: hidden;
}

.rooms__lists::-webkit-scrollbar {
  display: none;
}

.rooms__button-wrap {
  display: flex;
  align-items: center;
}

.rooms__svg {
  fill: currentColor;
  width: 1.2rem;
  height: 1.2rem;
  margin: 0 5px;
}
