.newroom_form {
  width: 300px;
  padding: 2rem 1.5rem;
  background-color: var(--main-bg-color);
  border-radius: 10px;
}

.newroom_container {
  position: fixed;
  z-index: 2;
  background-color: rgba(100, 100, 100, 0.6);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newroom__input {
  width: 100%;
  margin: 0.7rem 0;
  padding: 0.5rem;
  background-color: var(--main-darker-color);
  color: var(--main-bright-color);
  outline: none;
  border: 1px solid transparent;
}

.newroom__buttons {
  text-align: right;
  padding: 1rem 0 0 0;
  color: var(--btn-normal-color);
}

.newroom__input::placeholder {
  color: var(--main-bg-color);
}

.newroom__input:focus {
  border-color: var(--main-dark-color);
}

.msg-error {
  position: relative;
}

.msg-error::after {
  content: "This room name is already taken.";
  position: absolute;
  font-size: 0.7rem;
  color: #f00;
  left: 0;
  top: 85%;
}
