.input__container {
  width: 100%;
  flex-shrink: 0;
  flex-grow: 0;
  margin-bottom: 2px;
}

.input__input {
  width: calc(100% - 4rem);
  padding: 0.5rem;
  background-color: var(--main-darker-color);
  color: var(--main-bright-color);
  outline: none;
  border: 1px solid transparent;
}

.input__input::placeholder {
  color: var(--main-bg-color);
}

.input__input:focus,
.input__button:focus {
  border-color: var(--main-dark-color);
}

.input__button {
  width: 4rem;
  padding: 0.5rem;
  height: 100%;
  outline: none;
  border: 1px solid var(--btn-extra-color);
  color: #fff;
  background-color: #00008b;
}

.input__button:disabled {
  opacity: 0.8;
  color: var(--main-darker-color);
}
