.join__container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 375px;
  height: 100%;
  margin: auto;
  padding: 1rem;
}

.join__content {
  width: 100%;
  text-align: center;
  padding: 5rem 2rem;
}

.join__title {
  font-size: 3.5rem;
  margin: 2rem 0;
  position: relative;
}

.join__btn {
  margin: 2rem 0;
  padding: 0.3rem 2rem;
  cursor: pointer;
  border: 1px solid transparent;
  color: var(--main-other-color);
  outline: none;
}

.join__input {
  font-size: 1.2rem;
  padding: 0.2rem;
  width: 100%;
  text-align: center;
  background-color: var(--main-darker-color);
  color: var(--main-bright-color);
  outline: none;
  padding: 6px;
  border: 1px solid transparent;
}

.join__input::placeholder {
  color: var(--main-bg-color);
}

.join__input:focus {
  border-color: var(--main-dark-color);
}
.join__btn:focus {
  border-color: var(--main-other-color);
}

.join__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  background-color: var(--main-text-color);
  width: 6rem;
  height: 2px;
  left: 50%;
  transform: translateX(-50%);
}
