.join__container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 375px;
  height: 100%;
  margin: auto;
  padding: 1rem;
  color: #fff;
}

.join__content {
  width: 100%;
  text-align: center;
  padding: 5rem 2rem;
}

.join__title {
  padding: 2rem 0;
}

.join__btn {
  margin: 2rem 0;
  padding: 0.3rem 2rem;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.join__input {
  font-size: 1.2rem;
  padding: 0.2rem;
  width: 100%;
  text-align: center;
  background-color: #aaa;
  border: none;
  outline: none;
  padding: 6px;
  color: #fff;
  border-radius: 6px;
}
