.newroom__input {
  width: 100%;
  margin: 0.3rem 0;
  font-size: 1.1rem;
  padding: 0 0.3rem;
}

.newroom__buttons {
  text-align: right;
}

.newroom__button {
  display: inline-block;
  width: 4rem;
  padding: 0.2rem;
}

.newroom__button:first-of-type {
  margin-right: 1rem;
}
