.dlg__container {
  position: fixed;
  z-index: 2;
  background-color: rgba(100, 100, 100, 0.6);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dlg__form {
  max-width: 450px;
  padding: 1rem 1.5rem;
  background-color: #000;
  border-radius: 10px;
}

.dlg__buttons {
  text-align: right;
}

.dlg__button {
  display: inline-block;
  width: 4rem;
  padding: 0.2rem;
  background-color: transparent;
  border: none;
  color: #999;
  cursor: pointer;
}

.dlg__button:first-of-type {
  margin-right: 1rem;
}

.dlg__msg {
  line-height: 1.5;
  margin: 1.2rem 0;
}

.dlg__icon {
  font-size: 2rem;
  color: #f00;
}
